In [1]:
#What is pythom
#Python is an interpreted, High level language, Object-Oriendted and dynamic type language
#it has easy syntax as compare to other language

In [2]:
print('Hello World')

Hello World

In [6]:
#Variable
a = 10
b = 20
print(b)
print(a)

20
10

In [7]:
print(a,b)

10 20

In [8]:
print(id(a))

1738920913488

In [9]:
print(id(b))

1738920913808

In [10]:
A = 'Hello'
print(A)

Hello

In [11]:
_ = 10
print(_)

10

In [13]:
a1 = 5
print(a1)

5

In [14]:
1a = 5
print(1a)

SyntaxError: invalid syntax (Temp/ipykernel_1276/4145002057.py, line 1)

In [15]:
a_b = 15
print(a_b)

15

In [16]:
@a = 10
print(@a)

SyntaxError: invalid syntax (Temp/ipykernel_1276/837952254.py, line 1)

In [17]:
_a = 25
print(_a)

25

In [19]:
a = 'Hello'
b = 'NetTech India'

In [20]:
print(a+b)

HelloNetTech India

In [21]:
print(a+" "+b)

Hello NetTech India

In [22]:
c = 20
print(c+30)

50

In [23]:
print(a + c)

TypeError: can only concatenate str (not "int") to str

In [24]:
d = '50'
print(a+d)

Hello50

In [25]:
a = 10
print(a)
print(b)
c = hello
print(c)

10
NetTech India

NameError: name 'hello' is not defined

In [27]:
#keyword in python which are known as reserved words
help('keywords')

Here is a list of the Python keywords.  Enter any keyword to get more help.

False               break               for                 not
None                class               from                or
True                continue            global              pass
__peg_parser__      def                 if                  raise
and                 del                 import              return
as                  elif                in                  try
assert              else                is                  while
async               except              lambda              with
await               finally             nonlocal            yield

In [29]:
#statements :Instructions that your write in your code and that a python interpreter can execute are
#called statements
a = 1+3+5

In [30]:
#Comments are nothing but the sentence that the python interpreter ignores
#this is a comment
print("Hello World")

Hello World

In [31]:
'''I start my comment from this line....
still the comment
same here .'''
print("Hello World")

Hello World

In [32]:
"""I start my comment from this line....
still the comment
same here """
print("my name")

my name

In [33]:
#indentation
#It refers to the spaces and tabs that are used at the beginning of a statement or a code we write

#Datatypes in python
*integer
*float
*Complex
*String
*List
*Set
*Dictionary
*Boolean
*Range

In [34]:
a = 10
print(a)
print(type(a))

10
<class 'int'>

In [35]:
b = 10.2
print(b)
print(type(b))

10.2
<class 'float'>

In [37]:
c = 2j
print(c)
print(type(c))

2j
<class 'complex'>

In [41]:
#Python list in ordered collection of elements
l = ['apple','banana','cherry']
print(type(l))

<class 'list'>

In [40]:
#Tuples are ordered collection of elements that are unchangeable
t = ('apple','banana','cherry')
print(type(t))

<class 'tuple'>

In [42]:
#set is an unordered collection of data items that are unique
s = {'apple','banana','cherry'}
print(type(s))

<class 'set'>

In [43]:
#Dictionaries are unordered collections of unique values ssored in (key-value)paires
d = {'name':'Ashwini'}
print(d)
print(type(d))

{'name': 'Ashwini'}
<class 'dict'>

In [44]:
#boolean values
print(20>10)

True

In [49]:
x = 25
y = 20
z = x>y
print(z)

True

In [50]:
print(type(z))

<class 'bool'>

In [51]:
#built-in function range() use to generate a sequence of numbers from a start number
numbers = range(10, 15, 1)
print(type(numbers))

<class 'range'>

In [53]:
n = range(10,15,2)
print(n)

range(10, 15, 2)

In [54]:
print(type(n))

<class 'range'>

In [55]:
#Input and output
my_name = input("Enter your name :")
print('My name is :',my_name)

Enter your name :ash
My name is : ash

In [56]:
print(type(my_name))

<class 'str'>

In [57]:
my_num = int(input("Enter number :"))
print("Entered number is:",my_num)

Enter number :5
Entered number is: 5

In [58]:
print(type(my_num))

<class 'int'>

Arithematic Operator:

1. Addition(+)
2. Substraction(-)
3. Multiplication(*)
4. Division(/)
5. Floor division(//)
6. Modulus(%)
7. Exponent(**)

In [59]:
#Addition
x = 10
y = 40
print(x + y)

50

In [60]:
#Substraction
print(x - y)

-30

In [61]:
#Multiplication
print(x * y)

400

In [63]:
#Division
print(y / x)

4.0

In [64]:
#floor division: returns the quotient 
print(y//x)

4

In [66]:
#Modulus
print(x%y)

10

In [67]:
#Exponent
num = 2
print(num**2)

4

Relational Operator

1. Greater than(>)
2. Less than(<)
3. Equal to(==)
4. Not Equal to(!=)
5. Greater than equal to(>=)
6. Less than equal to (<=)

In [70]:
x = 10
y = 5
print(x>y)
print(x<y)

True
False

In [71]:
print(x == y)
print(x == 10)

False
True

In [74]:
print(y != x)
print(10 != x)

True
False

In [75]:
print(x >= y)
print(10 >= x)

True
True

In [76]:
print(x <= y)
print(10 <= x)

False
True

Assignment Operator
1. Assign (=)
2. Add and Assign (+=)
3. Substract and Assign (-=)
4. Multiply and Assign (*=)
5. Divide and Assign (/=)
6. Floor Divide and Assign (//=)
7. Modulus and Assign (%=)
8. Exponent and Assign (*=)

In [77]:
a = 4
b = 2

a += b
print(a)

6

In [78]:
a = 4
a -= 2

print(a)

2

In [79]:
a = 4
a *= 2

print(a)

8

In [80]:
a = 4
a /= 2

print(a)

2.0

In [81]:
a = 4
a //= 2 

print(a)

2

In [82]:
a = 4
a **= 2

print(a)

16

In [83]:
a = 5
a %= 2

print(a)

1

Logical Operator
1. and
2. or
3. not

In [84]:
x = 5
print(x > 3 and x < 10)

True

In [86]:
#In the case of arithematic values, logical and always returns the second values
print(10 and 20)
print(10 and 5)
print(100 and 300)

20
5
300

In [87]:
x = 5
print(x > 3 or x < 4)

True

In [88]:
#In the case of arithematic values, logical or always returns the first values
print(10 or 20)
print(10 or 5)
print(100 or 300)

10
10
100

In [89]:
x = 5
print(not(x >3))

False

In [91]:
print(not 10)
print(not 0)

False
True

Membership Operator:

1. in
2. not in

In [92]:
#in operator
x =["apple","banana"]
print('banana' in x)

True

In [93]:
#not in operator
x = ['apple','banana']
print('cherry' not in x)

True

Identit Operator

1. is
2. is not

In [94]:
#returns boolean values
x = 10
y = 11
z = 10
print(x is y)
print(x is z)

False
True

In [95]:
x = 10
y = 11
z = 10
print(x is not y)
print(x is not z)

True
False

Bitwise Operator

1. & bitwise operator(and)
2. | bitwise operator(or)
3. ^ bitwise operator(xor)

In [97]:
#& operator
a = 7
b = 4
c = 5
print(a & b)
print(b & c)
print(a & c)

4
4
5

In [98]:
#or operator
a = 7
b = 4
c = 5
print(a | b)
print(b | c)
print(a | c)

7
5
7

In [99]:
#xor operator
a = 7
b = 4
c = 5
print(a ^ b)
print(b ^ c)
print(a ^ c)

3
1
2